!XTerm*background: black
!XTerm*foreground: green

!URxvt*background: black
!URxvt*foreground: green
!URxvt*background: #002b36
!URxvt*foreground: #839496

URxvt*scrollColor: #1e1228
URxvt*troughColor: #3e3258

XTerm*scrollBar: true
XTerm*scrollKey: true
XTerm*scrollTtyOutput: false

!XTerm*visualBell: true

!XTerm*charClass: 46:48,40-41:48,47:48

XTerm*modifyCursorKeys: 0

!URxvt*keysym.Home: \033[1~
!URxvt*keysym.End: \033[4~

URxvt.saveLines:        8192



*background:         #0b0d22
*foreground:         #f5f2df
!black                      BLACK
*color0 :            #0b0d22
*color8 :            #252525
!red                        RED
*color1 :            #eb0c4f
*color9 :            #ff4262
!green                      GREEN
*color2 :            #97bf5f
*color10 :           #b1e06f
!yellow                     YELLOW
*color3 :            #cccc3d
*color11 :           #ebe200
!blue                       BLUE
*color4 :            #3a9495
*color12 :           #0adcdd
!magenta                    MAGENTA
*color5 :            #850cd5
*color13 :           #d900ff
!cyan                       CYAN
*color6 :            #7accc5
*color14 :           #66fff2
!white                      WHITE
*color7 :            #f5f2df
*color15 :           #FFFFFF
